/* Allsetpack custom styles */

main a {
    color: var(--wp--preset--color-hyperlink-blue);
    border-bottom: var(--wp--preset--color-hyperlink-blue) 1px dotted;
  }
  
main a:hover {
    border-bottom-style: solid;
}
  
#contact,
#about,
#packs {
scroll-margin-top: 5rem;
overflow: initial !important;
}

body {
font-family: 'Work Sans', sans-serif;
}

.wysiwyg p {
font-size: 1.25rem;
}

/* form styles */
.form-field {
    margin: 1em 0;
}

.form-field.textarea {
    margin: 1em 0 0;
}

.form-field input,
.form-field textarea {
    background-color: var(--wp--preset--color--lines-grey);
    width: 100%;
    padding: 1em;
    border-radius: 0.3rem;
    color: var(--wp--preset--color--menu-grey) ;
    font-size: 0.8rem;
}

.contactButton {
    margin-top: 1rem;
}

.wpcf7-spinner {
    position: absolute;
}

/* header */
.logo img {
height: 4.5rem;
}

#menu-primary li a {
    display: block;
    transition: all 0.3s linear;
}

#menu-primary li a:hover {
    color: #c24545;
}

@media ( min-width: var(--desktop-lg) ) {
    #menu-primary li a {
        margin: 0 1rem;
    }
}

/* menu modal */
/*
#hamburger.clicked #line {
    transform: rotate(-45deg);
    translate: 0 calc(.25rem*1.5);
}

#hamburger.clicked #line2 {
    transform: rotate(45deg);
    translate: 0 calc(.25rem*-1);
}

#navLayer {
display: none;
opacity: 0;
transition: all 0.5s linear;
}

#navLayer .blurryFace {
opacity: 0.45;
display: flex;
}

#navMenu {
right: -100%;
transition: all 0.3s linear;
}

@media ( min-width: var(--desktop-lg) ) {
    #navMenu {
        right: 0;
    }
}

#navMenu .openSesame {
    visibility: visible;
    opacity: 1;
    display: inline-flex;
    right: 0;
}*/
/* Arrow dividers */
.arrow-down {
    position: relative;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid currentColor;
    margin: 0 auto;
    margin-bottom: -50px !important;
    padding-bottom: 50px;
  }

.arrow-up {
    position: relative;
    z-index: 10;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50px solid currentColor;
    margin: 0 auto;
    margin-top: -50px !important;
    padding-top: 50px;
}

.allset-testimonials,
footer.wp-block-template-part {
    margin-block-start: 0!important;
}

body #navLayer {
    display: none!important;
}

