@import 'tailwind.css';

/* Additional editor-specific styles */
.editor-styles-wrapper {
  /* Your custom editor overrides go here */
    /* Red pulse button variation */
    .wp-block-button.is-style-red-pulse .wp-block-button__link {
      background: var(--wp--preset--color--bright-red);
      color: white !important;
      padding: 0.5rem;
  }

  .slider-controls {
    display: none;
  }

  .wp-block-post-title.editor-post-title {
    font-size: 1.8rem;
  }
}


