<!-- wp:group {"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div id="site-header" class="wp-block-group has-base-background-color has-background"><!-- wp:template-part {"slug":"header","theme":"lcchc"} /--></div>
<!-- /wp:group -->
<!-- wp:html -->
<svg class="header-dome" viewBox="0 0 1200 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M 0,100 Q 600,50 1200,100 L 1200,0 L 0,0 Z" fill="var(--wp--preset--color--base)"/>
</svg>
<!-- /wp:html -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:query-title {"type":"search"} /-->
	<!-- wp:pattern {"slug":"bloktastik/hidden-search"} /-->
	<!-- wp:pattern {"slug":"bloktastik/template-query-loop"} /-->
	<!-- wp:pattern {"slug":"bloktastik/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
