/* Core block variations and overrides */

.no-flow-margin > * {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

:root :where(.is-layout-flow) > p {
    margin-block-start: 0.5rem;
}

.wp-block-button__link {
  cursor: pointer !important;
}

/* All ULs and OLs in block content */
.wp-block-post-content ul {
  list-style-type: disc;
  padding-left: 2em;
}

.wp-block-post-content ol {
  list-style-type: decimal;
  padding-left: 2em;
}

/* Navigation blocks */
/* header: remove underline, hover text color */
header .wp-block-navigation .wp-block-navigation-item__content {
  text-decoration: none;
}

header .wp-block-navigation .wp-block-navigation-item__label {
  display: inline-block;
  transition: color 0.18s ease;
  color: inherit;
}

header
  .wp-block-navigation
  .wp-block-navigation-item__content:hover
  .wp-block-navigation-item__label,
header .wp-block-navigation .wp-block-navigation-item__label:hover {
  color: var(--wp--preset--color--bright-red);
}

/* Double Cards */
.pattern-double-cards figure img, 
.pattern-double-cards .components-resizable-box__container {
  object-fit: cover;
  width: 100%!important;
  height: 100%!important;
}

/* Ensure bold works in testimonials */
blockquote strong,
blockquote b {
  font-weight: 700 !important;
}

/* media-text blocks */
.wp-block-media-text .wp-block-media-text__media img,
.wp-block-media-text .wp-block-media-text__media video {
  margin-bottom: 1.5rem!important;
}

/* default button */
.wp-block-button .wp-block-button__link.wp-element-button {
  padding: 0.25rem 0.75rem;
}
