@import 'tailwind.css';

/* Additional editor-specific styles */
.editor-styles-wrapper {
  /* Your custom editor overrides go here */
    /* Red pulse button variation */
    .wp-block-button.is-style-red-pulse .wp-block-button__link {
      background: var(--wp--preset--color--bright-red);
      color: white !important;
      padding: 0.5rem;
  }

  .slider-controls {
    display: none;
  }

  .wp-block-post-title.editor-post-title {
    font-size: 1.8rem;
  }
  /* Style the title input field at top of editor */
  h1 {
      color: #000 !important;
      background: #fff !important;
      border: 1px solid #ddd !important;
      border-radius: 2px;
      padding: 8px 12px !important;
      font-size: 1.5rem !important;
      font-weight: normal !important;
  }
}

.hideme {
    display: none!important;
}
